ProjecteMusica/API/ApiMongoMusica/bin
ProjecteMusica/API/ApiMongoMusica/obj
ProjecteMusica/API/ApiMongoMusica/.vs
ProjecteMusica/API/apiMusicInfo/bin
ProjecteMusica/API/apiMusicInfo/obj
ProjecteMusica/API/apiMusicInfo/.vs
ProjecteMusica/API/apiMusicInfo/Migrations
ProjecteMusica/API/ApiMusica/.vs
ProjecteMusica/API/ApiMusica/bin
ProjecteMusica/API/ApiMusica/obj
ProjecteMusica/InstaladorWPF/AppSetupFile/.vs
ProjecteMusica/InstaladorWPF/AppSetupFile/AppSetupFile/bin
ProjecteMusica/InstaladorWPF/AppSetupFile/AppSetupFile/obj
ProjecteMusica/MusicalyAdminApp/.vs
ProjecteMusica/MusicalyAdminApp/bin
ProjecteMusica/MusicalyAdminApp/obj
ProjecteMusica/MusicPlayerLibrary/.vs
ProjecteMusica/MusicPlayerLibrary/bin
ProjecteMusica/MusicPlayerLibrary/obj
ProjecteMusica/Client/obj
ProjecteMusica/Client/bin
ProjecteMusica/Client/.vs
ProjecteMusica/MusicPlayerLibrary/bin
ProjecteMusica/MusicPlayerLibrary/obj
ProjecteMusica/Server/bin
ProjecteMusica/Server/obj
ProjecteMusica/SocketClient/bin
ProjecteMusica/SocketClient/obj
ProjecteMusica/Testing/bin
ProjecteMusica/Testing/obj
