ProjecteMusica/API/ApiMongoMusica/bin
ProjecteMusica/API/ApiMongoMusica/obj
ProjecteMusica/API/ApiMongoMusica/.vs
ProjecteMusica/API/apiMusicInfo/bin
ProjecteMusica/API/apiMusicInfo/obj
ProjecteMusica/API/apiMusica/.vs
ProjecteMusica/API/ApiMusica/bin
ProjecteMusica/API/ApiMusica/obj
ProjecteMusica/API/apiMusicInfo/Migrations
ProjecteMusica/InstaladorWPF/AppSetupFile/.vs
ProjecteMusica/InstaladorWPF/AppSetupFile/AppSetupFile/bin
ProjecteMusica/InstaladorWPF/AppSetupFile/AppSetupFile/obj
ProjecteMusica/MusicalyAdminApp/.vs
ProjecteMusica/MusicalyAdminApp/bin
ProjecteMusica/MusicalyAdminApp/obj
ProjecteMusica/MusicPlayerLibrary/.vs
ProjecteMusica/MusicPlayerLibrary/bin
ProjecteMusica/MusicPlayerLibrary/obj
ProjecteMusica/Client/obj
ProjecteMusica/Client/bin