./ProjecteMusica/API/ApiMongoMusica/bin
./ProjecteMusica/API/ApiMongoMusica/obj
./ProjecteMusica/InstaladorWPF/AppSetupFile/.vs
./ProjecteMusica/InstaladorWPF/AppSetupFile/AppSetupFile/bin
./ProjecteMusica/InstaladorWPF/AppSetupFile/AppSetupFile/obj